#!/usr/bin/env sh
# shellcheck source=/dev/null

# echo
echo_date() { echo "[$(date +'%Y-%m-%d %H:%M:%S')] $*" >&2; }

# uv
export UV_INDEX='gitea=https://qrt-bot:e43d1df41a3ecf96e4adbaf04e98cfaf094d253e@gitea.main:3000/api/packages/qrt/pypi/simple'
export UV_MANAGED_PYTHON='true'
export UV_NATIVE_TLS='true'
export UV_PRERELEASE='disallow'
export UV_PYTHON='3.13'
export UV_RESOLUTION='highest'
export UV_VENV_CLEAR=1
if ! command -v uv >/dev/null 2>&1; then
	echo_date "ERROR: 'uv' not found" && exit 1
fi
activate='.venv/bin/activate'
if [ -f $activate ]; then
	. $activate
else
	uv venv
fi
uv sync --all-extras --all-groups --active --locked
