#!/usr/bin/env sh
# shellcheck source=/dev/null

# echo
echo_date() { echo "[$(date +'%Y-%m-%d %H:%M:%S')] $*" >&2; }

# uv
export UV_PRERELEASE='disallow'
if ! command -v uv >/dev/null 2>&1; then
	echo_date "ERROR: 'uv' not found" && exit 1
fi
activate='.venv/bin/activate'
if [ -f $activate ]; then
	. $activate
else
	uv venv
fi
uv sync --active --locked --script script.py
