repos:
  - repo: https://github.com/dycw/actions
    rev: 0.15.5
    hooks:
      - id: conformalize-repo
        args:
          - --description=Conformalize a repo
          - --envrc
          - --envrc--uv
          - --gitignore
          - --package-name=conformalize
          - --pre-commit--prettier
          - --pre-commit--python
          - --pre-commit--ruff
          - --pre-commit--shell
          - --pre-commit--taplo
          - --pre-commit--uv
          - --pyproject
          - --pyright
          - --pytest
          - --python-version=3.13
          - --readme
          - --repo-name=conformalize
          - --ruff
          - --uv--native-tls
        priority: 10
      - id: format-requirements
        priority: 10
      - id: replace-sequence-strs
        priority: 10
      - id: touch-empty-py
        priority: 10
      - id: touch-py-typed
        priority: 10
      - id: update-requirements
        args:
          - --indexes=https://qrt-bot:e43d1df41a3ecf96e4adbaf04e98cfaf094d253e@gitea.main:3000/api/packages/qrt/pypi/simple
          - --native-tls
        priority: 10
  - repo: https://github.com/queensberry-research/conformalize
    rev: 0.2.19
    hooks:
      - id: conformalize
        args:
          - --ci--pull-request--pyright
          - --ci--pull-request--pytest
          - --ci--pull-request--pytest--all-versions
          - --ci--pull-request--ruff
          - --ci--push--pypi--gitea
          - --ci--push--tag
          - --gitea-host=gitea.main
          - --pyproject
          - --python-version=3.13
          - --repo-name=conformalize
        priority: 10
  - repo: builtin
    hooks:
      - id: check-added-large-files
        priority: 20
      - id: check-case-conflict
        priority: 20
      - id: check-executables-have-shebangs
        priority: 20
      - id: check-json
        priority: 20
      - id: check-json5
        priority: 20
      - id: check-merge-conflict
        priority: 20
      - id: check-symlinks
        priority: 20
      - id: check-toml
        priority: 20
      - id: check-xml
        priority: 20
      - id: check-yaml
        priority: 20
      - id: detect-private-key
        priority: 20
      - id: end-of-file-fixer
        priority: 10
      - id: fix-byte-order-marker
        priority: 10
      - id: mixed-line-ending
        args:
          - --fix=lf
        priority: 10
      - id: no-commit-to-branch
        priority: 20
      - id: trailing-whitespace
        priority: 10
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-illegal-windows-names
        priority: 20
      - id: destroyed-symlinks
        priority: 20
      - id: pretty-format-json
        args:
          - --autofix
        priority: 10
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or:
          - markdown
          - yaml
        priority: 10
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args:
          - --fix
        priority: 20
      - id: ruff-format
        priority: 10
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        priority: 10
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        priority: 20
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          - --option
          - indent_tables=true
          - --option
          - indent_entries=true
          - --option
          - reorder_keys=true
        priority: 10
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.26
    hooks:
      - id: uv-lock
        args:
          - --upgrade
          - --resolution
          - highest
          - --prerelease
          - disallow
        priority: 10
