repos:
  - repo: https://github.com/dycw/actions
    rev: 0.10.2
    hooks:
      - id: conformalize-repo
        args:
          - --description=Project conformalizer
          - --envrc
          - --envrc--uv
          - --pre-commit--prettier
          - --pre-commit--python
          - --pre-commit--ruff
          - --pre-commit--taplo
          - --pre-commit--uv
          - --pyright
          - --pytest
          - --python-version=3.12
          - --readme
          - --repo-name=conformalize
          - --ruff
          - --script=script.py
      - id: format-requirements
      - id: replace-sequence-strs
      - id: touch-empty-py
      - id: touch-py-typed
      - id: update-requirements
  - repo: https://gitea.main:3000/qrt-public/conformalize
    rev: 0.2.2
    hooks:
      - args:
          - --ci--pull-request--pre-commit
          - --ci--pull-request--pyright
          - --ci--pull-request--pytest
          - --ci--pull-request--pytest--all-versions
          - --ci--pull-request--ruff
          - --ci--push--tag
          - --gitea-host=gitea.main
          - --python-version=3.12
          - --repo-name=conformalize
          - --script=script.py
        id: conformalize
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: no-commit-to-branch
      - id: pretty-format-json
        args:
          - --autofix
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or:
          - markdown
          - yaml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          - --option
          - indent_tables=true
          - --option
          - indent_entries=true
          - --option
          - reorder_keys=true
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.22
    hooks:
      - id: uv-lock
        files: ^script\.py$
        args:
          - --upgrade
          - --resolution
          - highest
          - --prerelease
          - disallow
          - --script=script.py
